{% extends "base.html" %}

{% block content %}
    <h3>Historical Data</h3>
    {% if full_run_data.df_historical %}
        {{ full_run_data.df_historical | safe }}
    {% else %}
        <div><p>Error: Historical DF does not exist.</p></div>
    {% endif %}

    <h3>Predictions</h3>
    {% if full_run_data.df_predictions %}
        {{ full_run_data.df_predictions | safe }}
    {% else %}
        <div><p>Error: Predictions DF does not exist.</p></div>
    {% endif %}

    <h3>Predictions File Upload (PUT) Response</h3>
    {% if full_run_data.pred_file_upload_response %}
        <div>{{ full_run_data.pred_file_upload_response }}</div>
    {% else %}
        <div><p>Error: Predictions File Upload (PUT) Response does not exist.</p></div>
    {% endif %}

    <h3>Predictions File Import (POST) Response</h3>
    {% if full_run_data.post_import_file_response_code %}
        <div>{{ full_run_data.post_import_file_response_code }} - {{ full_run_data.post_import_file_response_message }}</div>
    {% else %}
        <div><p>Error: Predictions File Import (POST) Response does not exist.</p></div>
    {% endif %}

    <h3>Model Run Timestamp Upload (PUT) Response</h3>
    {% if full_run_data.model_timestamp_file_upload_response %}
        <div>{{ full_run_data.model_timestamp_file_upload_response }}</div>
    {% else %}
        <div><p>Error: Model Run Timestamp Upload (PUT) Response does not exist.</p></div>
    {% endif %}

    <h3>Model Run Timestamp Import (POST) Response</h3>
    {% if full_run_data.model_timestamp_post_import_file_response_code %}
        <div>{{ full_run_data.model_timestamp_post_import_file_response_code }} - {{ full_run_data.model_timestamp_post_import_file_response_message }}</div>
    {% else %}
        <div><p>Error: Model Run Timestamp Import (POST) Response does not exist.</p></div>
    {% endif %}

{% endblock %}